/HG2412P Corner Reflector
/HG2412P_derived_corner_reflector_2450MHz.nec
/Laird PLC1669
/Synthesized 434
/WA5VJB CheapYagi
/WA5VJB_CheapYagi_11el_2450MHz.nec
/ZDADJ433-12YG
/ZDAQJ166
/ZDAQJ166_166.380MHz_6m.nec
__pycache__/